<nav class="amazon-navbar">
  <div class="nav-left">
    <div class="logo" routerLink="/lista-productos">VEN FCC</div>
  </div>

  <div class="nav-fill">
    <div class="search-bar">
      <input type="text" #searchInput (input)="buscar(searchInput.value)" placeholder="Buscar productos en la FCC...">

      <button class="search-btn" (click)="buscar(searchInput.value)">🔍</button>
    </div>
  </div>

  <div class="nav-right">
    <div class="nav-item user-profile" routerLink="/perfil">
      <img [src]="avatarUrl || 'assets/img/default-user.png'" class="mini-avatar" alt="Perfil">
      <div class="user-text">
        <span>Hola, {{ nombreUsuario || 'Identifícate' }}</span>
        <strong>Cuenta y Perfil</strong>
      </div>
    </div>

    <div class="nav-item cart" routerLink="/carrito" style="cursor: pointer;">
      <div class="cart-icon-wrapper">
        <span class="cart-icon">🛒</span>
        <span class="cart-count">{{ cantidadCarrito }}</span>
      </div>
      <strong class="cart-text">Carrito</strong>
    </div>
  </div>
</nav>
